@mixin btn-size($multiplier) {
    padding: 0.6rem * $multiplier 1.5rem * $multiplier;
    margin: 0.4rem * $multiplier 0;
    font-size: 0.8rem * $multiplier;
}

@mixin btn-type($color) {
    border: 1px solid $color;

    &:hover {
        background-color: rgba($color, $hover-alpha);
    }

    &:active {
        background-color: rgba(darken($color, 15%), $hover-alpha);
    }
}

@mixin btn-simple-type($color) {
    transition: color .1s ease-in-out;
    &:hover {
        color: $color;
    }
}

.btn {
    @include btn-size(1);
    background-color: transparent;
    transition: background-color .1s ease-in-out;
    
    cursor: pointer;
    border: none;
    color: $foreground;
    text-transform: uppercase;

    @each $type, $color in $types {
        &.btn-#{$type} {
            @include btn-type($color);
        }
        &.btn-simple-#{$type} {
            @include btn-simple-type($color);
        }
    }

    @each $size, $multiplier in $sizesMultiplier {
        &.btn-#{$size} {
            @include btn-size($multiplier);
        }
    }
    
}