@import "variables";
@import "dropdown";
@import "checkbox";
@import "form";
@import "button";
@import "card";
@import "spacings";
@import "list";
@import "text";
@import "cart_badge";
@import "toast";

@import "pages/product";

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background;
    color: $foreground;
}

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.background {
    position: fixed;
    width: 100%;
    height: 80vh;
    z-index: -1;
    background-image: url('../images/bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
}

a {
    text-decoration: none;
    color: $foreground;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-container {
    padding-bottom: 5.1rem;
}

.error-message {
    color: $dangerColor;
}

.img-responsive {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.cart-item-image {
    max-width: 100%;
    height: auto;
    max-height: 4rem;
}

a.link {
    position: relative;
    font-size: 0.8rem;
    margin: 0.2rem 0.5rem;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        content: '';
        border-bottom: 1px solid $primaryColor;
        transform: scaleX(0);  
        transition: transform .1s ease-in-out;
    }

    &:hover:after {
        transform: scaleX(1);
    }
}

.navbar {
    padding: 1rem;
    position: fixed;
    width: 100%;
    background-color: $background-light;
    z-index: 1;

    .navbar-item {
        text-decoration: none;
        color: $foreground;
        padding-right: 1rem;
        display: inline-flex;
        align-items: center;

        .navbar-icon {
            margin-right: 0.5rem;
            color: rgb(200, 200, 200);
        }
    }

    .navbar-item span {
        position: relative;
        padding: 0.1rem 0;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: block;
            content: '';
            border-bottom: 1px solid $primaryColor;
            transform: scaleX(0);  
            transition: transform .1s ease-in-out;
        }
    }

    .navbar-item:hover span:last-child:after {
        transform: scaleX(1);
    }

    .navbar-logo {
        height: 3rem;
    }

}



.products {
    margin-top: 2rem;

    &.loading {
        filter: blur(5px);
    }

    .product {
        margin: 1rem 0;
        padding: 1rem;
        border: 1px solid $background-light;
        background-color: rgba($background, 0.8);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
    }

    .product:hover {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    }
}


.no-categories {
    text-align: center;
}

.category-title {
    padding-right: 1rem;
    margin: 1.5rem 0;
    display: inline-block;
}

.error {
    color: red;
    font-size: 0.8rem;
}

