.product {
    .product-logo {
        max-width: 100%;
        height: auto;
        max-height: 5rem;
    }

    .product-title {
        font-weight: bold;
        font-size: 1.2rem;
        text-overflow: ellipsis;
        
        overflow: hidden;
        white-space: nowrap;
    }

}
.page-product {
    .image {
        width: 100%;
        height: auto;
        max-width: 20rem;
    }
}
